<section class="user-show">
  <div class="shared-user-box">
    <%= render partial: "shared/user-box", locals: { user: @user } %>
  </div>
  <%=link_to 'Add Post', new_user_post_path(@user.id) %>
  <div class="user-info">
    <div class="user-bio">
      <h3>
        Bio
      </h3>
      <br>
      <p>
        <%= @user.bio%>
      </p>
    </div>
    <% @user.last_three_post.each do |post| %>
      <%= render partial: "shared/post-preview", locals: { post: post, user: @user } %>
    <% end %>
    <%= link_to user_posts_path(@user) do %>
      <div class="div-see-all">
        <button type="button" class="btn-see-all">See all posts</button>
      </div>
    <% end %>
  </div>
</section>
